<div id="video">
      <div id="video_image">
        <img alt="video_place_holder" width='512px' height='385px' src="/assets/video_placeholder.png" />
      </div>
      <div id="player" class="hidden" style="display: none;">
        <object width="512" height="385">
          <param name="movie" value="https://www.youtube.com/watch?v=amtuB-2wGeQ?autohide=1&showinfo=0&rel=0&autoplay=1" />
          <param name="allowFullScreen" value="true" />
          <param name="allowscriptaccess" value="always" />
          <embed src="https://www.youtube.com/watch?v=amtuB-2wGeQ?autohide=1&showinfo=0&rel=0&autoplay=1" type="application/x-shockwave-flash" width="512" height="385" allowscriptaccess="always" allowfullscreen="true"></embed>
        </object>
      </div>
  </div>

 <div id="backing">
    <ul>
      <li class="stats" id="backers">
        <%= number_with_delimiter Order.sponsors, :delimiter => "," %>
        <span>sponsors</span>
      </li>
      <li class="stats">
        <%= number_to_currency Order.revenue, :precision => 0 %>
        <span>of <%= number_to_currency 1000.to_f, :precision => 0 %></span>
      </li>

        <li class="stats" id="days">
          <%= distance_of_time_in_words_to_now(DateTime.now + 29).gsub(/\D/, "") %>
          <span><%= distance_of_time_in_words_to_now(DateTime.now + 29).gsub(/\d/, "").gsub("about", "") %> left</span>
        </li>
    </ul>
    
    <% if Order.revenue.to_f < Order.goal.to_f %>
      <div id='progress_bg' class='small'>
        <div id='progress' class='' style='width: <%= Order.percent %>%;'>
        </div>
      </div>
    <% else %>
      <div id="progress_bg">
        <div id="progress">
        </div>
        <div id='progress_text'><%= Order.percent %>% sponsored</div>
      </div>
    <% end %>

    <h1>My name is Liz, and I'm a RubyConf 2014 Opportunity Scholar!</h1>

    <h3>This is great news! I would never have been able to afford the $400 entry fee on my own. However, the scholarship does not cover air fare or accomodations, so I'm crowdfunding the rest by building this site (in Ruby, of course) and reaching out to the community.</h3>

    <h4>There are three ways you can help:</h4>
    <ul>
      <li>Choose a sponsorship level below to help me directly</li>
      <li>Share this page with your friends</li>
      <li><b><a href="http://www.lizbaillie.com/resume2014.pdf">Hire me</a></b>! I'm looking for a junior dev position. <b>If I can secure a job before RubyConf, <i>I will refund every dollar I was given</i>.</b> And what's more is, I'll still make good on all my pledge promises!</li>
    </ul>

<p>
<b>Level One: Thank You Note</b><br>
I will mail you a hand-drawn thank you note.<br>
<%#= radio_button_tag(:sponsorship, "one") %>
<%#= label_tag(:level_one, "Thank You Note: $20") %><br>
</p>
<p><b>Level Two: Flat Stanley</b><br> 
I will mail you a hand-drawn thank you note and draw a picture of your face. While at RubyConf, I will take at least one selfie with the drawing of your face, <a href="http://en.wikipedia.org/wiki/Flat_Stanley#The_Flat_Stanley_Project">Flat Stanley style</a>.<br>
<%#= radio_button_tag(:sponsorship, "two") %>
<%#= label_tag(:level_two, "Flat Stanley: $50") %><br>
</p>
<p><b>Level Three: Flat Stanley PLUS!</b><br>
Everything above, PLUS I will mail you the original drawing of your face.<br>
<%#= radio_button_tag(:sponsorship, "three") %>
<%#= label_tag(:level_three, "Flat Stanley PLUS: $100") %><br>
</p>
<p><b>Level Four: Name Your Own Price!</b><br>
Give more, give less, give what you want! If your chosen amount is greater than any of the other sponsorship levels, you'll receive everything included in the highest applicable sponsorship level.<br>
<%#= radio_button_tag(:sponsorship, "four") %>
<%#= label_tag(:level_four, "Sponsorship Level Four: Name Your Price!") %><br>
</p>

<%= render 'payola/transactions/checkout', sale: Sale.new(product: Order.first) %>
