<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>

<p>
  <strong>Item descrip:</strong>
  <%= @item.item_descrip %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @item.item_price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
